body{
  margin: 600px 0 600px;
}

section{
  height: 600px;
  border: 1px solid;
}

section:nth-of-type(1){
  border-color: #f00;
}
section:nth-of-type(2){
  border-color: #0f0;
}
section:nth-of-type(3){
  border-color: #00f;
}


/* style for navbar */

#navbar-section{
  position: relative;
}

nav{
  position: absolute;
  left: 20px;
  list-style: none;
  color: #878787;
  bottom: 0;
}

.fixed-nav{
  position: fixed;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

li{
  cursor: pointer;
  transition: 0.5s;
  height: 20px;
}

li:before {
    content: '■';
    color: #595959;
    position: absolute;
    display: inline-block;
    line-height: 6px;
    height: 7px;
    font-size: 10px;
    vertical-align: middle;
    left: -10px;
    margin-top: 4px;
    padding: 1px 0;
}

li div{
  display: inline-block;
  vertical-align: middle;
}

li:hover .number{
  color: #be001a;
}

.active{
  color: #595959;
  height: 120px;
  transition: 0.5s;
}

li.active:before{
  border: 1px solid #595959;
  padding: 1px;
  margin-left: -2px;
}

li:hover.active:before{
    border-color: #be001a;
}

li:not(:last-of-type) .bar{
  display: block;
  width: 2px;
  position: absolute;
  margin-top: 14px;
  margin-left: -8px;
  background: linear-gradient(#595959 0%, rgba(89,89,89,0.1) 1%);
  height: 0;
  transition: 0.5s;
}

li:not(:last-of-type).active .bar{
  height: 100px;
  transition: 0.5s;
}

.label{
  width: 0;
  overflow: hidden;
  transform: translateX(-20%);
  display: inline-block;
  transition: 0s;
}

.inview .label{
  width: auto;
  overflow: visible;
  transform: translateX(0%);
  transition: 1s;
}

@media (max-width: 1000px){
.inview  .label{
    width: 0;
    overflow: hidden;
    transform: translateX(-20%);
    display: inline-block;
    transition: 0s;
  }
  
  nav:hover .label{
    width: auto;
    overflow: visible;
    transform: translateX(0%);
    transition: 1s;
  }

}